<div class="container footerContainer">
  <footer class="d-flex flex-nowrap justify-content-between align-items-center">
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <span class="mb-3 ms-2 mb-md-0 text-lighter">© Rural Health Unit <%= new Date().getFullYear() %></span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex pe-3">
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
          </svg>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
            <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.355 2.325h-1.864V16c3.824-.605 6.75-3.934 6.75-7.951z"/>
          </svg>
        </a>
      </li>
      <li class="ms-3">
        <a class="text-body-secondary" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
            <path d="M8 0c-2.2 0-2.485.01-3.36.05-.877.04-1.48.175-2.006.37A4.46 4.46 0 0 0 .525 1.467c-.376.376-.648.82-.845 1.356-.195.526-.33 1.129-.37 2.006C.27 5.712.26 6 .26 8s.01 2.485.05 3.36c.04.877.175 1.48.37 2.006.197.535.469.98.845 1.356.376.376.82.648 1.356.845.526.195 1.129.33 2.006.37.875.04 1.16.05 3.36.05s2.485-.01 3.36-.05c.877-.04 1.48-.175 2.006-.37a4.463 4.463 0 0 0 1.356-.845c.376-.376.648-.82.845-1.356.195-.526.33-1.129.37-2.006.04-.875.05-1.16.05-3.36s-.01-2.485-.05-3.36c-.04-.877-.175-1.48-.37-2.006A4.463 4.463 0 0 0 13.935.525c-.376-.376-.82-.648-1.356-.845-.526-.195-1.129-.33-2.006-.37C10.485.01 10.2 0 8 0zm0 1.459c2.18 0 2.444.008 3.305.048.8.037 1.235.167 1.523.278.384.149.657.327.947.616.289.29.467.563.616.947.111.288.24.723.278 1.523.04.86.048 1.125.048 3.305s-.008 2.444-.048 3.305c-.037.8-.167 1.235-.278 1.523a3.05 3.05 0 0 1-.616.947 3.052 3.052 0 0 1-.947.616c-.288.111-.723.24-1.523.278-.86.04-1.125.048-3.305.048s-2.444-.008-3.305-.048c-.8-.037-1.235-.167-1.523-.278a3.053 3.053 0 0 1-.947-.616 3.054 3.054 0 0 1-.616-.947c-.111-.288-.24-.723-.278-1.523-.04-.86-.048-1.125-.048-3.305s.008-2.444.048-3.305c.037-.8.167-1.235.278-1.523.149-.384.327-.657.616-.947.29-.289.563-.467.947-.616.288-.111.723-.24 1.523-.278.86-.04 1.125-.048 3.305-.048zM8 3.89a4.11 4.11 0 1 0 0 8.22 4.11 4.11 0 0 0 0-8.22zM8 10.81A2.81 2.81 0 1 1 8 5.19a2.81 2.81 0 0 1 0 5.62zm4.945-7.7a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92z"/>
          </svg>
        </a>
      </li>
    </ul>
  </footer>
</div>
