<a href="#" class="brand-link">
    <img src="/dist/img/RHU.png" alt="AdminLTE Logo" class="brand-image img-circle " style="opacity: .8">
    <span class="brand-text font-weight-normal">IMMUNIZATION</span>
</a>