
<div class="d-flex flex-column mt-3 p-0 " style="height: 100vh; width: 250px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="/userDashboard" class="nav-link text-white">
                <img src="images/house-medical-solid.svg" width="20" alt="" class="me-2">
                Dashboard
            </a>
        </li>
        <li>
            <a href="/vaccinationSchedules" class="nav-link text-white">
                <img src="images/calendar-days-solid.svg" width="17" alt="" class="me-2">
                Vaccination Schedules
            </a>
        </li>
        <li>
            <a href="/pendingPatient" class="nav-link text-white">
              <img src="images/baby-solid.svg" width="20" alt="" class="me-2">
             Pending Patients
            </a>
        </li>
        <li>
            <a href="/patientManagement" class="nav-link text-white">
                <img src="images/baby-solid.svg" width="20" alt="" class="me-2">
                Approved Patients
            </a>
        </li>
        <li>
            <a href="/logout" class="nav-link text-white">
                <img src="images/power-off-solid.svg" width="20" alt="" class="me-2">
                Logout
            </a>
        </li>
    </ul>
</div>
